@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family:'Inter', sans-serif;
} */
/* navbar fix */
.nav-fixed {
  @apply fixed z-[15] h-[60px] bg-white bg-opacity-90 backdrop-blur-sm transition-all ease-linear dark:bg-mydark dark:bg-opacity-80 dark:backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-active {
  @apply translate-x-[-20px];
}

nav ul .group::after {
  @apply mx-auto block h-[2px] w-0 bg-primary;
  content: "";
  transition: 0.5s;
}

nav ul .group:hover::after {
  @apply w-[30px];
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-mydark dark:bg-white;
}

.hamburger-active span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active span:nth-child(3) {
  @apply -rotate-45;
}

.quote-active {
  @apply z-20 scale-100;
}

#input-dark:checked ~ #dark-icon {
  @apply translate-y-[-14px];
}
#input-dark-small:checked ~ #dark-icon {
  @apply translate-y-[-14px];
}

.hero-image {
  @apply border-primary;
  box-shadow: 8px 8px #ffbe0b;
  border: 2px solid #ffbe0b;
}

.portofolio {
  @apply relative bg-cover;
  background-image: url("/dist/img/porto.jpg");
  background-repeat: no-repeat;
  z-index: 5;
  background-position: 0px -130px;
}
.wrap-slide {
  @apply rounded-xl;
}

.slider .slide {
  @apply md:w-[440px];
}

@media (min-width: 375px) {
  .portofolio {
    background-position: 0px -100px;
  }
  .slider .slide {
    @apply w-[324px] md:w-[440px] relative left-[0.5px];
  }
  .slider-prev{@apply z-10}
  .slider-next{@apply z-10}
}
@media (width: 414px) {
  .slider .slide {
    @apply w-[340px];
  }
}
@media (width: 412px) {
  .slider .slide {
    @apply w-[340px];
  }
}
@media (width: 390px) {
  .slider .slide {
    @apply w-[315px];
  }
}
@media (width: 393px) {
  .slider .slide {
    @apply w-[320px];
  }
}
@media (width: 360px) {
  .slider .slide {
    @apply w-[285px];
  }
}

/* portofolio slider */
.slider {
  @apply flex flex-nowrap gap-3;
}

.slider .slide {
  @apply md:w-[440px];
}

.portofolio::after {
  @apply absolute top-0 block h-full w-full;
  background-image: linear-gradient(to top, #ffbe0ba5, rgba(0, 0, 0, 0.532));
  z-index: -9999999;
  content: "";
}

.btn-shadow {
  box-shadow: 0.3rem 0.3rem #ffbe0b;
  border: 1px solid #ffbe0b;
}
.btn-shadow:hover {
  transform: translate(0.12rem, 0.12rem);
  box-shadow: 0.2rem 0.2rem #ffbe0b;
}
.btn-shadow:active {
  transform: translate(0.125rem, 0.125rem);
  box-shadow: 0.2rem 0.2rem #ffbe0b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
