@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family:'Inter', sans-serif;
} */
/* navbar fix */
.nav-fixed {
  @apply fixed z-[15] h-[60px] bg-white bg-opacity-50 backdrop-blur-sm transition-all ease-linear dark:bg-mydark dark:bg-opacity-80 dark:backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-active {
  @apply translate-x-[-20px];
}

.brand span {
  @apply -left-0;
  transition: 0.3s;
}
.brand:hover .k1 {
  @apply -left-1;
}
.brand:hover .k2 {
  @apply left-1;
}

nav ul .group::after {
  @apply mx-auto block h-[2px] w-0 bg-primary;
  content: "";
  transition: 0.5s;
}

nav ul .group:hover::after {
  @apply w-[30px];
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-mydark dark:bg-white;
}

.hamburger-active span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active span:nth-child(3) {
  @apply -rotate-45;
}

.quote-active {
  @apply z-20 scale-100;
}

#input-dark:checked ~ #dark-icon {
  @apply translate-y-[-14px];
}
#input-dark-small:checked ~ #dark-icon {
  @apply translate-y-[-14px];
}

.hero .skills a:hover svg {
  @apply animate-bounce;
}

.hero-image {
  @apply border-primary;
  box-shadow: 8px 8px #ffbe0b;
  border: 2px solid #ffbe0b;
}

.portofolio {
  @apply relative h-full w-full bg-cover;
  background-image: url("/dist/img/porto.jpg");
  background-repeat: no-repeat;
  z-index: 5;
  background-position: 0px -140px;
}

/* portofolio slider */
.portofolio::after {
  @apply absolute top-0 block h-full w-full;
  background-image: linear-gradient(to top, #ffbe0ba5, rgba(0, 0, 0, 0.532));
  z-index: -9999999;
  content: "";
}
.portofolio .card{
  @apply rounded-lg overflow-hidden;
}
.portofolio .card .dec {
  @apply relative px-5 pb-7;
}
.portofolio .card .dec .tech span {
  @apply relative;
}
.portofolio .card .dec .tech span::after {
  @apply absolute -left-2 top-5 rotate-[-70deg] text-primary opacity-0;
  transition: 0.2s;
  content: ">";
}
.portofolio .card .dec .tech span:hover::after {
  @apply opacity-100;
}
.portofolio .slider-large-device .card img {
  @apply h-60 scale-150 grayscale transition-transform;
}
.portofolio .slider-large-device .card:hover img {
  @apply scale-100 grayscale-0;
}

.portofolio .slider-phone-device .card img {
  @apply h-40 scale-125 grayscale transition-transform;
}
.portofolio .slider-phone-device .card:hover img {
  @apply scale-100 grayscale-0;
}

@media only screen and (max-width: 415px) {
  .portofolio {
    @apply relative h-full w-full bg-cover;
    background-image: url("/dist/img/porto.jpg");
    background-repeat: repeat;
    z-index: 5;
    background-position: 0px 50px;
  }
}

/*end portofolio slider */

.btn-shadow {
  box-shadow: 0.3rem 0.3rem #ffbe0b;
  border: 1px solid #ffbe0b;
}
.btn-shadow:hover {
  transform: translate(0.12rem, 0.12rem);
  box-shadow: 0.2rem 0.2rem #ffbe0b;
}
.btn-shadow:active {
  transform: translate(0.125rem, 0.125rem);
  box-shadow: 0.2rem 0.2rem #ffbe0b;
}

/* Animasi loading */
.loader div {
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  border: 6px solid;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffbe0b transparent transparent transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.45s;
}
.loader div:nth-child(4) {
  animation-delay: -0.15s;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
